#contenu

body {
    background-color:# FFFFCC;
    margin-left: 100                                                                              px;
   }
   
   h1 {
    font-size: 48pt;
    color :#FF0000;
    font-style: italic;
    border-bottom: solid thin black;
   }

   h3 {
       font-size: medium;
       color: salmon;
       font-style: oblique;
   }
   
   p {
    font-size: 12pt;
    line-height: 14pt;
    font-family: Arial;
    letter-spacing: 0.2mm;
    word-spacing: 0.8mm;
    color: red;
   }

   div {
       background-color: slateblue;
       text-align: center;
       border-color: tomato;
       border: 2px solid;
       border-radius: 80%;
       box-shadow: 20px 10px 10px red;
   }
   .parent {
    border: 5px black solid;
    display: inline-block;
   }
   .box {
    display: inline-block;
    background: rgb(113,113,133);
    width: 100px;
    height: 100px;
   }
   #two {
     background: #74CC42;
   }